<h2><strong>Detalles del hallazgo #{{id}}</strong></h2>

<p>
  <strong>Planta:</strong>
  {{manufacturingPlant}}
</p>

<p>
  <strong>Tipo de evidencia:</strong>
  {{mainType}}
</p>

<p>
  <strong>Zona:</strong>
  {{zone}}
</p>

<p>
  <strong>Creado por:</strong>
  {{userWhoCreated}}
</p>

<p>
  <strong>Supervisor:</strong>
  {{responsible}}
</p>

<p>
  <strong>Fecha de creación:</strong>
  {{createdAt}}
</p>

<img src='cid:imgEvidence' style='width:350px;' />