<h2><strong>Detalles del hallazgo #{{id}}</strong></h2>

<p>
  <strong>Planta:</strong>
  {{manufacturingPlant}}
</p>

<p>
  <strong>{{mainType}}:</strong>
  {{secondaryType}}
</p>

<p>
  <strong>Zona:</strong>
  {{zone}}
</p>

<p>
  <strong>Descripción del comportamiento inseguro:</strong>
  {{descripcion}}
</p>

<p>
  <strong>Creado por:</strong>
  {{userWhoCreated}}
</p>

<p>
  <strong>Supervisores:</strong>
  {{supervisor}}
</p>

<p>
  <strong>Fecha de creación:</strong>
  {{createdAt}}
</p>

<h3>Hallazgo</h3>
<img src='cid:imgEvidence' style='width:350px;' />