<h2><strong>Detalles del hallazgo #{{id}}</strong></h2>

<p>
  <strong>Planta:</strong>
  {{manufacturingPlant}}
</p>

<p>
  <strong>{{mainType}}:</strong>
  {{secondaryType}}
</p>

<p>
  <strong>Zona:</strong>
  {{zone}}
</p>

<p>
  <strong>Creado por:</strong>
  {{userWhoCreated}}
</p>

<p>
  <strong>Supervisores:</strong>
  {{supervisor}}
</p>

<p>
  <strong>Fecha de creaci贸n:</strong>
  {{createdAt}}
</p>

<p>
  <strong>Fecha de soluci贸n:</strong>
  {{solutionDate}}
</p>

<p>
  <strong>Tiempo de soluci贸n:</strong>
  {{durantionToTime}}
</p>

<h3>Hallazgo</h3>
<img src='cid:imgEvidence' style='width:350px;' />
<br />
<h3>Soluci贸n</h3>
<img src='cid:imgSolution' style='width:350px;' />